<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>weatherImageurl</key>
	<string></string>
	<key>APIURL</key>
	<string>https://api.openweathermap.org/data/3.0</string>
	<key>APIKey</key>
	<string>82349715855d442775d2ecf54b0265fc</string>
</dict>
</plist>
